/* #region-commonrule */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
   
    /* text-transform: uppercase; */
    font-family: Arial, Helvetica, sans-serif;
}
    

section{
    /* padding: 0px -5px; */
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

/* #endregion-commonrule */

/* #region-utilities */

:root{
--color_header: #000000;
--color_footer: #00439C;
--color_small_line: #0072CE;
--color_playnow: #161C3B;
--color_new_releases: #1F1F1F;
--btn_secondary_color: #2D64E6;
--color_play_plus: #BEBCBB;
--color_play_plus_dark: #727272;
--btn_primary: #CD3D0F;

}

.align_center{
    text-align: center;
}

.d-flex{
    display: flex;
}
.btn.color_black{
    color: black;
}
.color_grey{
    color: var(--color_play_plus);
}
.color_white{
    color: white;
}

.color_small_line{
    color: var(--color_small_line);
}

.color_play_plus_dark{
    color: var(--color_play_plus_dark)
}


.btn.color_blue{
    color:var(--btn_secondary_color);
}
.btn.orange{
    background-color: var(--btn_primary);
}
.btn.color_white{
    color: white;
}

.btn.secondary{
    background-color: var(--btn_secondary_color);
}

.btn.transparent{
    background-color: lightgray;
}

.uppercase{
    text-transform: uppercase;
}

.tony{
    border-radius: 20px 20px;
}

.d_flex{
    display: flex;
}

.img-thumbnail.no_border{
    border: none;
    border-radius: 0;
}
/* #endregion-utilities */


/* #region-header */
header{
    background-color: black;
   
}

.topnav{
    flex-direction: row-reverse;
    padding: 5px 15px;
}
/* #endregion-header */

/* #region-nav */

.lens{
    margin-left: 7px;
}


/* #endregion-nav */

/* #region-main */

.jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    position: relative;
}

.jumbotext{
    position: absolute;
    top: 283px;
    left: 33px;
}




/* #endregion-main */


/* #region-section-1-cards */



.img-thumbnail.small{
    border-radius: 15px 15px;
    border: none;

}







.container_cards{
    margin-top: 36px;
    margin-left: 60px;
    margin-right: 60px;
}

.container_description_console{
    margin-top: 70px;
}

.possible{
    margin-top: 30px;
}


/* #endregion-section1-cards */

/* #region-section-2-console */




.console_text{
   margin-left: 100px;
}
/* #endregion-section2-console */

/* #region-section-3-items */

.items{
    /* background-color: #0077b6; */
    /* height: 270px; */
}

.container_box_console{
    background-image: url(../img/playstation-5-thumb.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    height: 600px;
    width: 100%;

}


/* #endregion-section-3-items */

/* #region-section-4-hero-banner */

.hero{
    background-color: #ffd60a;
    /* height: 550px; */
}

.image{
    background-image:url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;
   
}

.img_logo{
    margin-top: 40px;
}

.logo_text{
    margin-left: 50px;
    
}
/* #endregion-section-4-hero-banner */

/* #region-section-5-new-releases */
.new{
    color: white;
    background-color: #1F1F1F;
    /* height: 550px; */
}

.container_new_release{
    margin: 0px 10px;
    margin-bottom: 60px;
}
/* #endregion-section-5-new-releases */

/* #region-section-6-explorer */



.container_explorer{
    margin-bottom: 50px;
}
/* #endregion-section-6-explorer */

/* #region-section-7-playplus */
.playplus{
    background-color: grey;
}
    


.april{
    width: calc(100% - 40px);
}

.btn.secondary{
    margin-bottom: 20px;
}

/* #endregion-section-7-playplus */


/* #region-section-8-playstore */
.playstore_text{
    margin-top: 50px;
}





/* #endregion-section-8-playstore */

/* #region-section-9-playnow */


.playnow{
    background-color:var(--color_playnow);
    margin-top:40px
}



/* #endregion-section-9-playnow */

/* #region-section-10-social */
.social{
    margin-top: 40px;
    margin-bottom: 90px;
}
/* #endregion-section-10-social */

/* #region-footer */
footer{
    background-color: #06125a;
   
}
    
    

.sony_interactive{
    background-image: url(../img/sie-logo.svg);
    height: 50px;
    background-repeat: no-repeat;
    background-position: left;
}

.country{
    margin-left: 35px;
}

.website{
    margin-left: 50px;
}

.social_card{
    padding: 5px 5px;
    /* margin: 0px 20px; */
}

/* #endregion-footer */


/* #region-effects */



.img-thumbnail.small:hover{
    margin-top: -30px;
    transition-duration: 2s;
    transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275)
    
}      

.object:hover{
    opacity: 0.5;
}

/* #endregion-effects */

